<html>
	<head>
	
	<title>Registrations</title>

	</head>

	<body>

	    <h1 align="center" action="/login/" method="post">New Registrations</h2>

            <form method="get">
            First Name:<br>
            <input type="text"></input>
            <br>
            Middle Name:<br>
            <input type="text"></input>
            <br>
            Last Name: <br>
            <input type="text"></input>
            <br>
            Mobile Number:<br>
            <input type="text"></input>
            <br>
            Email Id: <br>
            <input type="email" placeholder="Enter your email"></input>
            <br>
            Country:<br>
            <input type="test" ></input>
            <br>
            <br>
            <input type="submit" value="Submit">
            <br>
            </form>

	</body>
</html>